@charset "UTF-8";

body{
    background-color: #04A6EB;
    color: #FDFFFF;
    width: 500px;
    margin: 0 auto;
}
button{
    padding: 5px 20px;
    background-color: #337AB7;
    border-color: #2E6DA4;
    border-style: none;
    color: #FDFFFF;
}
button:active{
    color: black;
    margin-top: 2px;
}
input {
    height: 20px;
}
